@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(231, 231, 231);
    background-image: url("../assets/gradient_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.heading {
    color: rgb(255, 255, 255);
}

.title {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container {
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}

.btn {
    height: 70px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 10px 10px 30px rgb(188, 206, 254);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: linear-gradient(to right,
    rgb(110, 202, 255),
    rgb(91, 124, 255));
}

.login {
    font-size: 32px;
    font-weight: normal;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.form-section {
    height: 400px;
    width: 1000px;
    padding-top: 20px;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}

.login-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 0px 40px;
}

.login-box {
    gap: 30px;
}

.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}

.error {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    background-color: rgb(239, 126, 126);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;

    display: flex;
    align-items: center;
}

.error * {
    padding: 0px 5px;
}

.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(110, 192, 255),
            rgb(91, 140, 255));
    font-size: 22px;
    border: none;
    cursor: pointer;
}

/* For Responsiveness of the page */

@media screen and (max-width: 650px) {
    .container {
        height: 500px;
        width: 300px;
    }

    .title {
        font-size: 15px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .login {
        font-size: 19px;
    }

    .form-section {
        height: 400px;
        width: 600px;
    }

    .ele {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }

    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        height: 500px;
        width: 250px;
    }

    .heading {
        font-size: 30px;
    }

    .title {
        font-size: 10px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .form-section {
        height: 400px;
        width: 500px;
    }

    .login-box {
        height: 100%;
        width: 250px;
    }

    .ele {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }

    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
