@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: rgb(231, 231, 231);
    background-image: url("../assets/gradient_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    overflow-x: hidden;
}

.title {
    padding-top: 30px;
    font-size: 42px;
    text-align: center;
}

.homeboard {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.board-option {
    width: 30%;
    height: 10vh;

    border-radius: 20px;
    background-image: linear-gradient(to right,
    rgb(110, 202, 255),
    rgb(91, 124, 255));

    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;

    font-size: clamp(12px, 5vw, 32px);
}

.popup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.popup-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.close {
    position: relative;
    left: 98%;
    color: #a2a2a2;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #6a6a6a;
    text-decoration: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-image: linear-gradient(to right,
    rgb(110, 202, 255),
    rgb(91, 124, 255));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right,
    rgb(83, 181, 237),
    rgb(63, 98, 237));
}

.category {
    padding: 60px;
    padding-top: 0px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category h2 {
    font-size: 32px;
    padding-bottom: 10px;
}

.device-container-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.device-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 40px;

    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.device-card {    
    width: 20%;
    max-width: 300px;
    color: black;
    padding: 20px;
}

.device-card img {
    padding: 30px;
}

.device-card-info {
    padding: 20px;
    padding-bottom: 0px;
}

.device-chart {
    width: 75%;
    height: 400px;
    padding: 40px;
    background-color: rgb(231, 231, 231);
}

.device-threshold {
    color: black;
    padding: 30px;
}

.red-button {
    background-image: linear-gradient(to right,
    rgb(255, 114, 114),
    rgb(217, 41, 41));
}

.red-button:hover {
    background-image: linear-gradient(to right,
    rgb(237, 93, 93),
    rgb(195, 24, 24));
}

#logoutButton {
    position: absolute;
    right: 0px;
    margin: 20px;
}

#unlinkDeviceButton {
    position: absolute;
    right: 0px;
    margin-right: 80px;
}